# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentytwo/
web/app/themes/basel/
web/app/themes/basel-child/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/Graphics
# WordPress
web/wp
web/.htaccess

# Logs
*.log
/logs

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
/config/cli-config.php

# IDE
.vscode/*
.vscode
.idea
.idea/*

#mS3
web/import/mS3/*
!web/import/mS3/.gitkeep

@mysql/*
@mysqlms3/*
@logs/*
